    /*
    Flaticon icon font: Flaticon
    Creation date: 22/09/2020 20:53
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-navigation:before { content: "\f100"; }
.flaticon-mountain:before { content: "\f101"; }
.flaticon-mission-1:before { content: "\f102"; }
.flaticon-value:before { content: "\f103"; }
.flaticon-stethoscope:before { content: "\f104"; }
.flaticon-handshake:before { content: "\f105"; }
.flaticon-handshake-1:before { content: "\f106"; }
    
    $font-Flaticon-navigation: "\f100";
    $font-Flaticon-mountain: "\f101";
    $font-Flaticon-mission-1: "\f102";
    $font-Flaticon-value: "\f103";
    $font-Flaticon-stethoscope: "\f104";
    $font-Flaticon-handshake: "\f105";
    $font-Flaticon-handshake-1: "\f106";